.main-container {
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.desktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .main-container {
    max-width: 33.5rem;
  }
}

@media screen and (min-width: 770px) {
  .desktop {
    display: block;
  }

  .main-container {
    max-width: 45rem;
  }

  .card {
    padding: 60px 1.5rem 1.5rem;
  }

  .cards-main {
    flex-flow: row wrap;
  }

  .card-container {
    width: 100%;
    height: auto;
    min-height: 9.5rem;
    margin: 3.75rem 0.75rem 1rem;
    max-width: calc(50% - 1.5rem);
  }

  .card-container > img {
    top: 0;
    left: 50%;
    width: 6.25rem;
    height: 6.25rem;
  }

  .card-icon > svg {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .card-container {
    max-width: calc(33% - 1.5rem);
  }

  .main-container {
    max-width: 60rem;
  }

  h2 {
    margin-bottom: 3.5rem;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    max-width: calc(25% - 1.5rem);
  }

  .main-container {
    max-width: 98rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}
